    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Partido Virtual</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="jumbotron masthead">
    <div class="container">
    <h1>¡Recupera la política!</h1>
    <p>La política es nuestra</p>
    <p>
      <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.0']);" class="btn btn-primary btn-large" href="assets/bootstrap.zip">Download Bootstrap</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);" href="http://github.com/twitter/bootstrap">GitHub project</a>
      </li>
      <li>
        <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);" href="./getting-started.html#examples">Examples</a>
      </li>
      <li>
        <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);" href="./extend.html">Extend</a>
      </li>
      <li>
        Version 2.3.0
      </li>
    </ul>
    </div>
    </div>
    
    <div class="bs-docs-social">
      <div class="container">
        <!-- Twitter Script -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <!-- Facebook Script -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=295163567279439";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <ul class="bs-docs-social-buttons">
          <li class="follow-btn">
            <a href="https://twitter.com/ParVirES" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @ParVirES</a>
          </li>
          <li class="tweet-btn">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.partidovirtual.es" data-text="¡Recupera la política! @ParVirES" data-via="ParVirES" data-lang="es">Twittear</a>
          </li>
          <li class="fb-btn">
            <div class="fb-like" data-href="http://www.partidovirtual.es/" data-send="true" data-width="450" data-show-faces="false"></div>
          </li>
        </ul>
      </div>
    </div>    

    <div class="container">
        <div class="row">
          <div class="span9">

          </div>
          </div><!--/span-->
        </div><!--/row-->

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
