<p>¡Hola <%= @resource.email %>!</p>

<p>Para iniciar el cambio de contraseña, solamente debes utilizar el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has solicitado el cambio de tu contraseña, por favor, ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que accedas al link indicado arriba, y crees una nueva contraseña.</p>
